@font-face {
  font-family: 'iconfont';
  src: url('https://mdn.alipayobjects.com/huamei_2fq7mt/afts/file/A*5oDLTavjP1YAAAAAAAAAAAAADh58AQ/keybord-iconfont.woff2')
      format('woff2'),
    url('https://mdn.alipayobjects.com/huamei_2fq7mt/afts/file/A*y8swTalZo84AAAAAAAAAAAAADh58AQ/keybord-iconfont.woff')
      format('woff'),
    url('https://mdn.alipayobjects.com/huamei_2fq7mt/afts/file/A*Z7WrQ54LmhIAAAAAAAAAAAAADh58AQ/keybord-iconfont.ttf')
      format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: calc(16 * var(--px, 1px));
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete::before {
  content: '\e704';
}

.icon-arrow-down::before {
  content: '\e665';
}

.icon-shouqijianpan::before {
  content: '\e62d';
}

.icon-keyboard-hide::before {
  content: '\e811';
}

.icon-arrow-right::before {
  content: '\e802';
}

.icon-arrow-up::before {
  content: '\e803';
}

.icon-mode::before {
  content: '\e600';
}

.icon-space::before {
  content: '\e7bc';
}

.icon-enter::before {
  content: '\e801';
}

.icon-jianpan::before {
  content: '\e661';
}

.icon-delete {
  font-size: calc(36 * var(--px, 1px)) !important;
}

.icon-arrow-down {
  font-size: calc(56 * var(--px, 1px)) !important;
}

.icon-arrow-right {
  font-size: calc(56 * var(--px, 1px)) !important;
}

.icon-arrow-up {
  font-size: calc(56 * var(--px, 1px)) !important;
}

.icon-shouqijianpan {
  font-size: calc(56 * var(--px, 1px)) !important;
}

.icon-keyboard-hide {
  font-size: calc(48 * var(--px, 1px)) !important;
  color: #666;
}
